Temp/ filter=lfs diff=lfs merge=lfs -text
Library/ filter=lfs diff=lfs merge=lfs -text
ExportedObj/ filter=lfs diff=lfs merge=lfs -text
obj/ filter=lfs diff=lfs merge=lfs -text
*.svd filter=lfs diff=lfs merge=lfs -text
*.userprefs filter=lfs diff=lfs merge=lfs -text
/*.csproj filter=lfs diff=lfs merge=lfs -text
*.pidb filter=lfs diff=lfs merge=lfs -text
*.suo filter=lfs diff=lfs merge=lfs -text
/*.sln filter=lfs diff=lfs merge=lfs -text
*.user filter=lfs diff=lfs merge=lfs -text
*.unityproj filter=lfs diff=lfs merge=lfs -text
*.booproj filter=lfs diff=lfs merge=lfs -text
.DS_Store filter=lfs diff=lfs merge=lfs -text
.DS_Store? filter=lfs diff=lfs merge=lfs -text
._* filter=lfs diff=lfs merge=lfs -text
.Spotlight-V100 filter=lfs diff=lfs merge=lfs -text
.Trashes filter=lfs diff=lfs merge=lfs -text
ehthumbs.db filter=lfs diff=lfs merge=lfs -text
Thumbs.db filter=lfs diff=lfs merge=lfs -text
